---
layout: default
title: Ashley Mana Yoga | Home
meta-description: This is a starter blog + ecommerce template to fastrack your projects.
featured-image_path: /uploads/pr-photos-6472.jpg
---

<!-- FIRST BANNER SECTION ---->
<section id="intro-banner" class="banner featured centered grid-middle">
    <div class="col">
        <h1> Ashley Mana Yoga </h1>
        <a class="button-inverted" href="/about"> Meet Ashley</a>
        <a class="button-inverted" href="/blog"> Blog</a>
    </div>
</section>

<section>
    <!-- SECOND BANNER SECTION SHORT ABOUT ME  -->
    <div>
        <h2> Meet Ashley</h2>
    </div>

    <!-- Set up your HTML -->
    <div class="grid">
        <div class="col-6_sm-12">
            <div class="profile-imgs owl-carousel owl-theme">
                <div class="item"><img src="/images/aboutme1.jpg" alt="aboutme"></div>
                <div class="item"><img src="/images/aboutme2.jpg" alt="aboutme"> </div>
                <div class="item"><img src="/images/aboutme3.jpg" alt="aboutme"></div>
                <div class="item"><img src="/images/aboutme4.jpg" alt="aboutme"></div>
                <div class="item"><img src="/images/aboutme5.jpg" alt="aboutme"> </div>
                <div class="item"><img src="/images/aboutme6.jpg" alt="aboutme"></div>
            </div>
        </div>
        <div class="grid col-6_sm-12">
            <div class="about-padding">
                <p>Ashley grew up in Saratoga Springs, NY, where she began practicing yoga in 2006 under the guidance of Yoga Therapist Arletta Behan. While growing up, Ashley’s mother brought her to yoga classes and over the years she she fell in love with
                    the practice and started to become curious how to help people heal, both physically and emotionally. </p>

                <p> Ashley’s curiosity and passion lead her to complete a 200-Hour Multi-Style Yoga Teacher Training through Hawaii Yoga Institute in May of 2014 under the guidance of Professional Integrative Yoga Therapist, Adria Pickett. In pursuit of creating
                    a holistic healing modality,, in February 2016 Ashley completed her training as a Licensed Massage Therapist through Hawaii Healing Arts College. </p>

                <p> Ashley leads a mindful class that incorporates her knowledge of anatomy & physiology, pranayama, meditation, mantra, mudras, Thai Massage, and spirituality. Her intention as a teacher is to help students connect to their mind, body, and
                    soul and to honor their space for personal growth. Ashley’s classes allow her students to look deeper and listen to the divine within through self-awareness and the embodiment of yoga. </p>

                <a class="button-inverted buttoncenter" href="/about"> Full story</a>
            </div>
        </div>
</section>

<!-- THIRD BANNER SECTION BLOG!  -->
<section id="blog" class="featured">
        <h2>Blog</h2>

        <!-- add gridlex and linkable images with hover and padding -->
            <div class="grid blog-loop margin-0-1 ">
                {% for post in site.posts limit:6 %}
                <div class="col-4_sm-12">
                    <a href="{{post.url}}">
                        <img src="{{post.image_path}}">
                        <!-- for consistent image sizes you will either need to crop the images beforehand or change this to divs with background images -->
                        <h3> {{post.title}} </h3>
                        <p class="post-meta">{{post.date | date_to_string }} | By {{post.author}}</p>
                        <p> {{post.excerpt | truncate:100 }} </p>
                    </a>
                </div>
                {% endfor %}
            </div>
        <a class="button-inverted buttoncenter" href="blog.html"> More on the blog </a>
</section>



<!-- FITH ICON SERVICES GRID SECTION ---->
<section>
  <h2 class="centered"> Services </h2>
  <div class="grid-2_sm-1 col-6">
      <div class="col">

      <ul class="service-list">
        <li> Health and Lifestyle Coaching </li>
        <li> Standup Paddle Board Yoga </li>
        <li> Thai Massage Workshops </li>
        <li> Private Yoga Sessions </li>
        <li> Group Yoga Classes </li>
        <li> Massage Therapy </li>
        <li> Corporate Yoga </li>
      </ul>
    </div>

          <div class="col">
              <div class="profile-imgs owl-carousel owl-theme">
                  <div class="item"><img src="/images/services1.jpg" alt="services"></div>
                  <div class="item"><img src="/images/services2.jpg" alt="services"> </div>
                  <div class="item"><img src="/images/services3.jpg" alt="services"></div>
                  <div class="item"><img src="/images/services4.jpg" alt="services"></div>
                  <div class="item"><img src="/images/services5.jpg" alt="services"> </div>
                  <div class="item"><img src="/images/services6.jpg" alt="services"></div>
              </div>


      </div>
    </section>

        <!-- SIXTH SECTION GALLERY & TESTIMONIALS ---->
        <section class="no-padding margin-auto">
            <div class="grid-equalHeight featured med-height margin-0">
                <div class="col-6_sm-12 box-img testimonial1">
                    <!-- ADD BACKGROUND IMAGE -->


                </div>
                <div class="col-6_sm-12-middle">

                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
                </div>
            </div>
            <!-- end grid -->

            <div class="grid-equalHeight mob-flip med-height margin-0">
                <div class="col-6_sm-12-middle">

                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
                </div>
                <div class="col-6_sm-12 box-img testimonial2">
                    <!-- ADD BACKGROUND IMAGE -->

                </div>
            </div>
            <!-- end grid -->

            <div class="grid-equalHeight featured med-height margin-0">
                <div class="col-6_sm-12 box-img testimonial3">
                    <!-- ADD BACKGROUND IMAGE -->
                    <!-- <img src="/images/testimonial3.jpg/"> -->
                </div>
                <div class="col-6_sm-12-middle">

                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
                </div>
            </div>
            <!-- end grid -->
        </section>


        <!-- SEVENTH SECTION CONTACT INFO -->
        <section>
          <h2> Contact </h2>
          {% include contact-form.html %}
        </section>

        {% include instagram.html %}
