<img class="logo-mobile" src="/images/logo.png" alt="Ashley Mana Yoga">

<nav class="mob-nav">
  <a href="/index"> Home </a>
  <a href="/about"> About </a>
  <a href="/blog"> Blog </a>
  <a href="/shop"> Shop </a>
  <a href="/services"> Services </a>
  <a href="/contact"> Contact </a>
</nav>

<hr> <!-- this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="#"> <i class="fa fa-facebook"></i> </a>
  <a href="#"> <i class="fa fa-instagram"></i> </a>
  <a href="#"> <i class="fa fa-twitter"></i> </a>
</nav>
