<!-- add social media buttons -->

<header>

  <nav class="social-nav"> <!-- add social media links -->
    <a href="https://www.facebook.com/alynnkent8"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/ashleymanayoga/"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
  </nav>

  <div class="grid-middle top-nav ">
    <div class="col-5">
      <nav class="left">
        <a href="/index"> Home </a>
        <a href="/about"> About </a>
        <a href="/blog"> Blog </a>
      </nav>
    </div>

    <div class="col-2">
      <a href="/index.html">
        <img class="logo" src="/images/logo.png" alt="Ashley Mana Yoga">
      </a>
    </div>

    <div class="col-5">
      <nav class="right">
        <a href="/services"> Services </a>
        <a href="/shop"> Shop </a>
        <a href="/contact"> Contact </a>
      </nav>
    </div>
  </div>
  </header>
