<footer class="grid-middle">

  <!-- Column 1 -->
  <div class="col-4_sm-12">
    <img class="footer-logo" src="/images/rytlogo.jpg" alt="ryt">
    <img class="footer-logo-last" src="/images/amta.png" alt="amta">
  </div>

  <!-- Column 2 -->
  <div class="col-4_xs-12">
    <nav class="footer-nav">
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Blog </a>
      <a href="/shop"> Shop </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-4_xs-12">
    <nav class="social-nav" <!-- add social media links -->
        <a href="https://www.facebook.com/alynnkent8"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/ashleymanayoga/"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
    </nav>
  </div>
</footer>
